# =========================================
# STM32CubeIDE / Eclipse
# =========================================

# Build results
Debug/
Release/
Binaries/

# Eclipse/CubeIDE settings
.metadata/
.settings/
*.launch

# CubeIDE index/cache/logs
*.idx
*.log

# Build artifacts
*.o
*.a
*.d
*.su
*.elf
*.map
*.hex
*.bin
*.lst

# Linker/obj folders (иногда встречаются в проектах)
obj/
out/

# Do NOT ignore .ioc (нужен для CubeIDE)
# *.ioc

# =========================================
# Archives (не хранить в репозитории)
# =========================================
*.zip
*.rar
*.7z

# =========================================
# Windows
# =========================================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp

# =========================================
# User data (пути по умолчанию для сохранения)
# =========================================
Configurations/
Maps/

# Локальные заметки / вывод консоли (не в репозиторий)
Windows PowerShell.txt
Упрощение проекта.txt
Проблема с зеленым..txt

# =========================================
# Optional editors
# =========================================
.vscode/
.idea/
